.apresentacao__certificado{
     margin: 5% 10%;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     gap: 1em;
}

.conteiner__card__computador{
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     gap: 1em;
}

.certificado__link{
     margin: 0em 0em .5em 0em;
}

.descricao__ajuste__javascript{
     padding-top: 2em;
}

.descricao__ajuste__javascript__certificado{
     padding-top: 1.4em;
}