
/* FONTS */
/* KRONA ONE */
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Krona+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* MONTSERRAT */
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
/* VARIAVEIS */
:root{
  --cor-principal: #F5F5F5;
  --cor-cinza: #F5F5F5;
  --cor-secundaria: #000000;
  --cor-terciaria: #000000;

  --fonte-primaria: "Krona One", sans-serif;
  --fonte-secundaria: "Montserrat", sans-serif;
}

/* TODO O CODIGO */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* BODY DA PAGINA */
body {
  box-sizing: border-box;
  background-color: var(--cor-principal);
  color: var(--cor-secundaria);
}

/* MAIN */
.apresentacao__conteudo{
  margin: 5% 10%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: center;
  justify-content: center;
}

/* TITULO DO CONTEUDO */
.apresentacao__conteudo__titulo{
  margin: 1em 0em 1em 0em;
  font-family: var(--fonte-primaria);
  font-size: 1.5rem;
  text-align: left;
}

/* CONTEUDO DO PARAGRAFO */
.apresentacao__conteudo__paragrafo{
  margin: 0em 0em 1em 0em;
  font-family: var(--fonte-secundaria);
  text-align: justify;
  font-weight: 400;
  font-size: 1.0rem;
}

/* STACKS DE TECNOLOGIAS */
.stack-technologias{
  list-style-position: inside;
  margin: 0em 0em 1.5em 0em;
  font-family: var(--fonte-secundaria);
  text-align: left;
  font-weight: 400;
  font-size: 1.0rem;
  line-height: 2.2em;
}

.stack-technologias li{
  margin-bottom: 0.8em;
}

.stack-technologias strong{
  color: var(--cor-terciaria);
  font-weight: 600;
}

/* DIV PAI DOS BOTOES */
.apresentacao__links{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  justify-content: space-between;
}

/* BOTOES LINK */
.apresentacao__links__navegacao{
  color: var(--cor-secundaria);
  font-family: var(--fonte-secundaria);
  text-align: center;
  font-size: 1rem;
}

/*RODAPE*/
.rodape{
  padding: 0em 0em 2em 0em;
  text-align: center;
}

.rodape__paragrafo{
  font-family: var(--fonte-secundaria);
  font-weight: 500;
  font-size: 1.0rem;
  color: var(--cor-secundaria);
}

@media screen and (min-width: 1000px) {
  .apresentacao__links{
    flex-direction: row;
  }
}