/* CSS IMPORTADOS */
@import url("./header.css");
@import url("./certificado.css");
@import url("./portifolio.css");
@import url("./certificado.css");

/* FONTS */
/* KRONA ONE */
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Krona+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* MONTSERRAT */
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
/* VARIAVEIS */
:root{
  --cor-principal: #000000;
  --cor-cinza: #272727;
  --cor-secundaria: #F6F6F6;
  --cor-terciaria: #0263ff;

  --fonte-primaria: "Krona One", sans-serif;
  --fonte-secundaria: "Montserrat", sans-serif;
}

/* TODO O CODIGO */
*{
  margin: 0;
  padding: 0;
}

/* BODY DA PAGINA */
body {
  box-sizing: border-box;
  background-color: var(--cor-principal);
  color: var(--cor-secundaria);
}

.cabecalho{
  background-color: var(--cor-primaria);
}

/* MAIN */
.apresentacao{
  margin: 5% 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  gap: 100px;
}

/* SECTION */
.apresentacao__conteudo{
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: 2em;
  margin: 0em 0em 3em 0em;
}

.apresentacao__about{
  margin: 5% 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  gap: 100px;
}

.apresentacao__conteudo__about{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 2em;
    margin: 0em 0em 3em 0em;
}

.apresentacao__conteudo__conteudo{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

/* TITULO DO CONTEUDO */
.apresentacao__conteudo__titulo{
  margin: 0em 0em 1em 0em;
  font-family: var(--fonte-primaria);
  font-size: 1.9rem;
  text-align: left;
}

/* STRONG */
.titulo-destaque{
  color: var(--cor-terciaria);
}

/* CONTEUDO DO PARAGRAFO */
.apresentacao__conteudo__paragrafo{
  margin: 0em 0em 1.5em 0em;
  font-family: var(--fonte-secundaria);
  text-align: justify;
  font-weight: 400;
  font-size: 1.5rem;
}

/* DIV PAI DOS BOTOES */
.apresentacao__links{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  justify-content: space-between;
}

/* BOTOES LINK */
.apresentacao__links__navegacao{
  border-style: solid;
  border-color: var(--cor-terciaria);
  color: var(--cor-secundaria);
  font-family: var(--fonte-secundaria);
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  font-size: 1rem;
  border-radius: 1.1em;
  padding: .5em 5em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.link__navegacao__github__ajuste{
  padding: .5em 5.8em;
}

.link__navegacao__linkedin__ajuste{
  padding: .5em 5.4em;
}

.link__navegacao__facebook__ajuste{
  padding: .5em 5.2em;
}

.apresentacao__links__link:hover{
  background-color: var(--cor-cinza);
}

/* SUBTITULO APRESENTAÇÃO */
.apresentacao__links__subtitulo{
  font-family: var(--fonte-primaria);
  font-size: 1.3rem;
  font-weight: 400;
}

.apresentacao__links__link__img{
  height: 35px;
  width: 32px;
}

.apresentacao__imagem{
  width: 50%;
  margin: 0em 0em 1em 0em;
}

/* IMAGEM */
.apresentacao__conteudo__titulo__sobremim__computador{
  display: none;
}

.apresentacao__conteudo__titulo__sobremim__telefone{
  display: block;
}

.rodape{
  padding: 50px;
  background-color: var(--cor-terciaria);
  display: flex;
  justify-content: center;
}

.rodape__paragrafo{
  font-family: var(--fonte-secundaria);
  font-weight: 500;
  font-size: 1.75rem;
  color: var(--cor-secundaria);
}

@media screen and (min-width: 500px){
  .apresentacao__links__navegacao{
    padding: .5em 7em;
  }

  .link__navegacao__github__ajuste{
    padding: .5em 8em;
  }

  .link__navegacao__linkedin__ajuste{
    padding: .5em 7.6em;
  }

  .link__navegacao__facebook__ajuste{
    padding: .5em 7.4em;
  }
}



@media (min-width: 900px){

  .apresentacao__conteudo__conteudo{
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    gap: 3em;
  }
  
  .apresentacao__conteudo__titulo__sobremim__computador{
    display: block;
  }
  
  .apresentacao__conteudo__titulo__sobremim__telefone{
    display: none;
  }

  .apresentacao__conteudo__conteudo2{
    display: flex;
    flex-direction: column;
  }

  .apresentacao__links__navegacao{
    padding: .5em 8em;
  }

  .link__navegacao__instagram__ajuste{
    padding: .5em 9.9em;
  }

  .link__navegacao__github__ajuste{
    padding: .5em 10.7em;
  }

  .link__navegacao__linkedin__ajuste{
    padding: .5em 10.3em;
  }
  
  .link__navegacao__facebook__ajuste{
    padding: .5em 10.0em;
  }

}

@media (min-width: 1200px){
  
  .apresentacao{
    padding: 1em;
  }

  .apresentacao__conteudo{
    flex-direction: row;
    gap: 4em;
    width: auto;
  }

  .apresentacao__conteudo__titulo{
    margin: 0em 0em 1em 0em;
  }

  .apresentacao__conteudo__paragrafo{
    margin: 0em 0em 1em 0em;
  }


  .apresentacao__links__navegacao{
    padding: .5em 6.5em;
  }

  .link__navegacao__instagram__ajuste{
    padding: .5em 9.9em;
  }

  .link__navegacao__github__ajuste{
    padding: .5em 10.7em;
  }

  .link__navegacao__linkedin__ajuste{
    padding: .5em 10.3em;
  }
  
  .link__navegacao__facebook__ajuste{
    padding: .5em 10.0em;
  }

}